.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.form {
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 370px;
  width: 100%;
}
.formContent span {
  position: relative;
  width: 100%;
  height: auto;
}
.title {
  font-size: 36px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}

.formContent input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;

  background: #f6f6f6;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all 0.1s linear;
}
.formContent input:hover {
  background: #d1d1d1;
}
.eye {
  position: absolute;
  right: 15px;
  bottom: 30px;
}
.formContent label {
  width: 100%;
  text-align: left;
}
.link {
  color: #e4163a;
  text-decoration: underline;
  text-decoration-color: #e4163a;
}
.image {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;

  background-color: #f5fbff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  width: 100%;
  height: 40px;
  text-align: center;
  background: #e4163a;
  border-radius: 4px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border: none;

  color: #fff;
  text-decoration: none;

  transition: all 0.1s linear;
}
.sign:hover {
  background: #ff5761;
}
.sign:active {
  background: #c60e2e;
}
.sign:disabled {
  background: #f6f6f6;
  color: #d1d1d1;
}
.error {
  position: absolute;
  top: 20px;
  right: 20px;
  width: auto;
  height: auto;
  background: #ff5761;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 10px;
}
.errorText {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;

  color: #ff768e;

  align-self: baseline;
  margin-top: 0;
}

@media (max-width: 650px) {
  .image {
    display: none;
  }
  .form {
    width: 90%;
    padding: 5%;
  }
  .formContent {
    max-width: 100%;
  }
  .title {
    text-align: center;
  }
}
