.card{
    position: relative;
    display: inline-block;
    max-width: 364px;
    min-width: 150px;
    width: 100%;
    max-height: 50%;
    height: 100%;
    background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
    border-radius: 4px;
    flex-grow: 1;
    flex-shrink: 1;
}
.card img{
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 25%;
    height: 100%;

    background: #303030;
    border-radius: 0px 0px 4px 4px;
}
.title{
    text-align: center;
    font-size: 18px;
    color: #FFF;
    margin: 5px;
}
.team{
    text-align: center;
    font-size: 14px;
    color: #9C9C9C;
    line-height: 24px;
    font-weight: 500;
    margin-top: -5px;
}

.number{
    font-weight: bold;
    color: #E4163A;
}