.flex{
    position: absolute;
    left: 0;
    right: 0;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px;
}
.search{
    box-sizing: border-box;
    position: relative;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.search label{
    display: block;
    position: relative;
}
.search label::after{
    display: block;
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1244 9.64771H10.651L13.4777 12.4877C13.751 12.761 13.751 13.2077 13.4777 13.481C13.2044 13.7544 12.7577 13.7544 12.4844 13.481L9.65104 10.6477V10.121L9.47104 9.93438C8.5377 10.7344 7.26437 11.1477 5.91104 10.921C4.0577 10.6077 2.5777 9.06105 2.35104 7.19438C2.00437 4.37438 4.3777 2.00105 7.1977 2.34772C9.06437 2.57438 10.611 4.05438 10.9244 5.90771C11.151 7.26105 10.7377 8.53438 9.93771 9.46771L10.1244 9.64771ZM3.65104 6.64772C3.65104 8.30772 4.99104 9.64772 6.65104 9.64772C8.31104 9.64772 9.65104 8.30772 9.65104 6.64772C9.65104 4.98772 8.31104 3.64772 6.65104 3.64772C4.99104 3.64772 3.65104 4.98772 3.65104 6.64772Z' fill='%23D1D1D1'/%3E%3C/svg%3E%0A");
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: right;
    top: 10px;
    
    right: 10px;
    z-index: 100;
}
.searchInput{
    max-width: 340px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 20px;
    display: inline-block;

    background: #FFFFFF;
    border: 0.5px solid #D1D1D1;
    border-radius: 4px;
    z-index: 1;
}
.searchInput::placeholder{
    font-family: 'AvenirMedium';
    font-size: 14px;
}
.select{
    max-width: 340px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 20px;
    display: inline-block;
}
.add{
    width: 100px;
    height: 40px;
    outline: none;
    background: #E4163A;
    border: none;
    border-radius: 4px;
    color: #FFF;
    outline: none;

    transition: .1s all linear;
}
.add:hover{
    background: #FF5761;
}
.add:active{
    background: #C60E2E;
}

.cardAmount{
    max-width: 88px;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}

.content{
    position: absolute;
    top: 100px;
    left: 80px;
    right: 80px;
    bottom: 100px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.noContent{
    margin: auto;
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;

    background: #FFF;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noContent h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #FF768E;
    margin: 5px;
}
.noContent p{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #707070;
    margin-top: 5px;
}
.pageOptions{
    position: absolute;
    left: 80px;
    right: 80px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}
.pagination .page{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #F6F6F6;
    border-radius: 4px;
}
.pagination .page .pageLink{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
}
.pagination .pageActive {
    background-color: #E4163A;
    color: #FFFFFF;
}
