.container {
  margin: 30px auto;
  margin-bottom: -10px;
  background-color: white;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  max-height: 45%;
  height: 100%;
  position: relative;
  border: 0.5px solid #9c9c9c;
}
.header {
  max-height: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #9c9c9c;
}
.header .images {
  margin-right: 20px;
}
.header .img {
  margin: 5px;
  cursor: pointer;
}
.header span p {
  box-sizing: border-box;
  text-align: left;
  padding: 24px 32px;
}
.header span p a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #e4163a;
}
.playersHeader p {
  display: inline-block;
  color: #707070;
  font-size: 18px;
}
.content {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  bottom: 0px;
  margin-bottom: -10px;

  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
  border-radius: 0px 0px 10px 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.genInfo {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.genInfo p {
  margin: 10px;
}
.genInfo strong {
  font-size: 24px;
}
.players {
  width: 100%;
}
.playerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.playerInfo span {
  display: flex;
  flex-direction: row;
  margin: 5px 40px;
  gap: 40px;
  align-items: center;
}
.playerInfo span:nth-child(2) {
  width: 250px;
  justify-content: space-between;
  text-align: center;
}
.playerInfo span p {
  margin: 0;
}
.item {
  border-bottom: 0.5px solid #9c9c9c;
}
.noPlayers {
  width: 100%;
  text-align: center;
}
